.visualizations-container {
  padding: 20px;
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.spacing {
  height: 100px;
}

h2 {
  margin-bottom: 20px;
}

.visualizations-table {
  width: 70%; /* Réduit la largeur du tableau à 70% du conteneur parent */
  margin: 0 auto;
  border-collapse: collapse;
}

.visualizations-table th,
.visualizations-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.visualizations-table th {
  background-color: #f2f2f2;
  text-align: center;
}

.visualizations-table td {
  text-align: center;
}

/* Réduire la largeur de la colonne "Dataset Name" */
.visualizations-table th:first-child, 
.visualizations-table td:first-child {
  width: 30%; /* Ajustez ce pourcentage pour réduire davantage la largeur */
}

.visualizations-table th:last-child, 
.visualizations-table td:last-child {
  width: 70%; /* La colonne "Score" occupe le reste de l'espace */
}

.next-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
}

.next-button:hover {
  background-color: darkorange;
  margin-left: 20px;
}

.back-home-button  {
  text-decoration: none; /* Enlève le soulignement du lien */
}

.back-home-button {
  display: block;
  margin-top: 20px;
  text-decoration: none; /* Enlève le soulignement du lien */
  margin-bottom: 20px; /* Espace sous le bouton */
  text-align: center;
}

.back-home-button button {
  background-color: #007bff;
    color: white;
    border: 1px solid #0056b3; /* Add a border for better visibility */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto; /* Ensure the button has space around it and is centered */
    display: block;
}

.back-home-button button:hover {
  background-color: darkorange;
}
