.welcome-container {
    text-align: left;
    padding: 20px;
  }
 
  .welcome-content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }

.title {
   margin-left: 150px;
   padding: 20px;
}

  .welcome-content p {
    margin: 0 10px;
  }
  
  .welcome-content img {
    width: 600px; 
    margin-left: 20px;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 50px;
  }
  
  .card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px; 
    color: black;
    text-align: center;

  }
 
  .cardvis {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    width: 150px; 
    text-align: center;

  }  
  
  .card:hover {
    background-color:  navy;
  }

  .card .icon {
    margin-right: 10px;   
  }